{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://lightsail.amazonaws.com/"
        },
        {
            "url": "http://lightsail.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>Amazon Lightsail is the easiest way to get started with AWS for developers who just need virtual private servers. Lightsail includes everything you need to launch your project quickly - a virtual machine, SSD-based storage, data transfer, DNS management, and a static IP - for a low, predictable price. You manage those Lightsail servers through the Lightsail console or by using the API or command-line interface (CLI).</p> <p>For more information about Lightsail concepts and tasks, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/all\">Lightsail Dev Guide</a>.</p> <p>To use the Lightsail API or the CLI, you will need to use AWS Identity and Access Management (IAM) to generate access keys. For details about how to set this up, see the <a href=\"http://lightsail.aws.amazon.com/ls/docs/how-to/article/lightsail-how-to-set-up-access-keys-to-use-sdk-api-cli\">Lightsail Dev Guide</a>.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Lightsail",
        "version": "2016-11-28",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/lightsail-2016-11-28.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "lightsail"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/lightsail/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Allocates a static IP address.",
                "operationId": "AllocateStaticIp",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "operations": {
                                            "description": "An array of key-value pairs containing information about the static IP address you allocated.",
                                            "items": {
                                                "description": "Describes the API operation.",
                                                "properties": {
                                                    "createdAt": {
                                                        "description": "The timestamp when the operation was initialized (e.g., <code>1479816991.349</code>).",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "errorCode": {
                                                        "description": "The error code.",
                                                        "type": "string"
                                                    },
                                                    "errorDetails": {
                                                        "description": "The error details.",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "description": "The ID of the operation.",
                                                        "pattern": ".*\\S.*",
                                                        "type": "string"
                                                    },
                                                    "isTerminal": {
                                                        "description": "A Boolean value indicating whether the operation is terminal.",
                                                        "type": "boolean"
                                                    },
                                                    "location": {
                                                        "description": "The region and Availability Zone.",
                                                        "properties": {
                                                            "availabilityZone": {
                                                                "description": "The Availability Zone. Follows the format <code>us-east-2a</code> (case-sensitive).",
                                                                "type": "string"
                                                            },
                                                            "regionName": {
                                                                "description": "The AWS Region name.",
                                                                "enum": [
                                                                    "us-east-1",
                                                                    "us-east-2",
                                                                    "us-west-1",
                                                                    "us-west-2",
                                                                    "eu-west-1",
                                                                    "eu-west-2",
                                                                    "eu-west-3",
                                                                    "eu-central-1",
                                                                    "ca-central-1",
                                                                    "ap-south-1",
                                                                    "ap-southeast-1",
                                                                    "ap-southeast-2",
                                                                    "ap-northeast-1",
                                                                    "ap-northeast-2"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "operationDetails": {
                                                        "description": "Details about the operation (e.g., <code>Debian-1GB-Ohio-1</code>).",
                                                        "type": "string"
                                                    },
                                                    "operationType": {
                                                        "description": "The type of operation. ",
                                                        "enum": [
                                                            "DeleteInstance",
                                                            "CreateInstance",
                                                            "StopInstance",
                                                            "StartInstance",
                                                            "RebootInstance",
                                                            "OpenInstancePublicPorts",
                                                            "PutInstancePublicPorts",
                                                            "CloseInstancePublicPorts",
                                                            "AllocateStaticIp",
                                                            "ReleaseStaticIp",
                                                            "AttachStaticIp",
                                                            "DetachStaticIp",
                                                            "UpdateDomainEntry",
                                                            "DeleteDomainEntry",
                                                            "CreateDomain",
                                                            "DeleteDomain",
                                                            "CreateInstanceSnapshot",
                                                            "DeleteInstanceSnapshot",
                                                            "CreateInstancesFromSnapshot",
                                                            "CreateLoadBalancer",
                                                            "DeleteLoadBalancer",
                                                            "AttachInstancesToLoadBalancer",
                                                            "DetachInstancesFromLoadBalancer",
                                                            "UpdateLoadBalancerAttribute",
                                                            "CreateLoadBalancerTlsCertificate",
                                                            "DeleteLoadBalancerTlsCertificate",
                                                            "AttachLoadBalancerTlsCertificate",
                                                            "CreateDisk",
                                                            "DeleteDisk",
                                                            "AttachDisk",
                                                            "DetachDisk",
                                                            "CreateDiskSnapshot",
                                                            "DeleteDiskSnapshot",
                                                            "CreateDiskFromSnapshot",
                                                            "CreateRelationalDatabase",
                                                            "UpdateRelationalDatabase",
                                                            "DeleteRelationalDatabase",
                                                            "CreateRelationalDatabaseFromSnapshot",
                                                            "CreateRelationalDatabaseSnapshot",
                                                            "DeleteRelationalDatabaseSnapshot",
                                                            "UpdateRelationalDatabaseParameters",
                                                            "StartRelationalDatabase",
                                                            "RebootRelationalDatabase",
                                                            "StopRelationalDatabase"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "resourceName": {
                                                        "description": "The resource name.",
                                                        "pattern": "\\w[\\w\\-]*\\w",
                                                        "type": "string"
                                                    },
                                                    "resourceType": {
                                                        "description": "The resource type. ",
                                                        "enum": [
                                                            "Instance",
                                                            "StaticIp",
                                                            "KeyPair",
                                                            "InstanceSnapshot",
                                                            "Domain",
                                                            "PeeredVpc",
                                                            "LoadBalancer",
                                                            "LoadBalancerTlsCertificate",
                                                            "Disk",
                                                            "DiskSnapshot",
                                                            "RelationalDatabase",
                                                            "RelationalDatabaseSnapshot",
                                                            "ExportSnapshotRecord",
                                                            "CloudFormationStackRecord"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "description": "The status of the operation. ",
                                                        "enum": [
                                                            "NotStarted",
                                                            "Started",
                                                            "Failed",
                                                            "Completed",
                                                            "Succeeded"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "statusChangedAt": {
                                                        "description": "The timestamp when the status was changed (e.g., <code>1479816991.349</code>).",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "OperationFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "AccountSetupInProgressException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "UnauthenticatedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "staticIpName": {
                                        "description": "The name of the static IP address.",
                                        "pattern": "\\w[\\w\\-]*\\w",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "staticIpName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AttachDisk": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Attaches a block storage disk to a running or stopped Lightsail instance and exposes it to the instance with the specified disk name.</p> <p>The <code>attach disk</code> operation supports tag-based access control via resource tags applied to the resource identified by diskName. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
                "operationId": "AttachDisk",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "operations": {
                                            "description": "An object describing the API operations.",
                                            "items": {
                                                "description": "Describes the API operation.",
                                                "properties": {
                                                    "createdAt": {
                                                        "description": "The timestamp when the operation was initialized (e.g., <code>1479816991.349</code>).",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "errorCode": {
                                                        "description": "The error code.",
                                                        "type": "string"
                                                    },
                                                    "errorDetails": {
                                                        "description": "The error details.",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "description": "The ID of the operation.",
                                                        "pattern": ".*\\S.*",
                                                        "type": "string"
                                                    },
                                                    "isTerminal": {
                                                        "description": "A Boolean value indicating whether the operation is terminal.",
                                                        "type": "boolean"
                                                    },
                                                    "location": {
                                                        "description": "The region and Availability Zone.",
                                                        "properties": {
                                                            "availabilityZone": {
                                                                "description": "The Availability Zone. Follows the format <code>us-east-2a</code> (case-sensitive).",
                                                                "type": "string"
                                                            },
                                                            "regionName": {
                                                                "description": "The AWS Region name.",
                                                                "enum": [
                                                                    "us-east-1",
                                                                    "us-east-2",
                                                                    "us-west-1",
                                                                    "us-west-2",
                                                                    "eu-west-1",
                                                                    "eu-west-2",
                                                                    "eu-west-3",
                                                                    "eu-central-1",
                                                                    "ca-central-1",
                                                                    "ap-south-1",
                                                                    "ap-southeast-1",
                                                                    "ap-southeast-2",
                                                                    "ap-northeast-1",
                                                                    "ap-northeast-2"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "operationDetails": {
                                                        "description": "Details about the operation (e.g., <code>Debian-1GB-Ohio-1</code>).",
                                                        "type": "string"
                                                    },
                                                    "operationType": {
                                                        "description": "The type of operation. ",
                                                        "enum": [
                                                            "DeleteInstance",
                                                            "CreateInstance",
                                                            "StopInstance",
                                                            "StartInstance",
                                                            "RebootInstance",
                                                            "OpenInstancePublicPorts",
                                                            "PutInstancePublicPorts",
                                                            "CloseInstancePublicPorts",
                                                            "AllocateStaticIp",
                                                            "ReleaseStaticIp",
                                                            "AttachStaticIp",
                                                            "DetachStaticIp",
                                                            "UpdateDomainEntry",
                                                            "DeleteDomainEntry",
                                                            "CreateDomain",
                                                            "DeleteDomain",
                                                            "CreateInstanceSnapshot",
                                                            "DeleteInstanceSnapshot",
                                                            "CreateInstancesFromSnapshot",
                                                            "CreateLoadBalancer",
                                                            "DeleteLoadBalancer",
                                                            "AttachInstancesToLoadBalancer",
                                                            "DetachInstancesFromLoadBalancer",
                                                            "UpdateLoadBalancerAttribute",
                                                            "CreateLoadBalancerTlsCertificate",
                                                            "DeleteLoadBalancerTlsCertificate",
                                                            "AttachLoadBalancerTlsCertificate",
                                                            "CreateDisk",
                                                            "DeleteDisk",
                                                            "AttachDisk",
                                                            "DetachDisk",
                                                            "CreateDiskSnapshot",
                                                            "DeleteDiskSnapshot",
                                                            "CreateDiskFromSnapshot",
                                                            "CreateRelationalDatabase",
                                                            "UpdateRelationalDatabase",
                                                            "DeleteRelationalDatabase",
                                                            "CreateRelationalDatabaseFromSnapshot",
                                                            "CreateRelationalDatabaseSnapshot",
                                                            "DeleteRelationalDatabaseSnapshot",
                                                            "UpdateRelationalDatabaseParameters",
                                                            "StartRelationalDatabase",
                                                            "RebootRelationalDatabase",
                                                            "StopRelationalDatabase"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "resourceName": {
                                                        "description": "The resource name.",
                                                        "pattern": "\\w[\\w\\-]*\\w",
                                                        "type": "string"
                                                    },
                                                    "resourceType": {
                                                        "description": "The resource type. ",
                                                        "enum": [
                                                            "Instance",
                                                            "StaticIp",
                                                            "KeyPair",
                                                            "InstanceSnapshot",
                                                            "Domain",
                                                            "PeeredVpc",
                                                            "LoadBalancer",
                                                            "LoadBalancerTlsCertificate",
                                                            "Disk",
                                                            "DiskSnapshot",
                                                            "RelationalDatabase",
                                                            "RelationalDatabaseSnapshot",
                                                            "ExportSnapshotRecord",
                                                            "CloudFormationStackRecord"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "description": "The status of the operation. ",
                                                        "enum": [
                                                            "NotStarted",
                                                            "Started",
                                                            "Failed",
                                                            "Completed",
                                                            "Succeeded"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "statusChangedAt": {
                                                        "description": "The timestamp when the status was changed (e.g., <code>1479816991.349</code>).",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "OperationFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "AccountSetupInProgressException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "UnauthenticatedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "diskName": {
                                        "description": "The unique Lightsail disk name (e.g., <code>my-disk</code>).",
                                        "pattern": "\\w[\\w\\-]*\\w",
                                        "type": "string"
                                    },
                                    "diskPath": {
                                        "description": "The disk path to expose to the instance (e.g., <code>/dev/xvdf</code>).",
                                        "pattern": ".*\\S.*",
                                        "type": "string"
                                    },
                                    "instanceName": {
                                        "description": "The name of the Lightsail instance where you want to utilize the storage disk.",
                                        "pattern": "\\w[\\w\\-]*\\w",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "diskName",
                                    "instanceName",
                                    "diskPath"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AttachInstancesToLoadBalancer": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Attaches one or more Lightsail instances to a load balancer.</p> <p>After some time, the instances are attached to the load balancer and the health check status is available.</p> <p>The <code>attach instances to load balancer</code> operation supports tag-based access control via resource tags applied to the resource identified by loadBalancerName. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
                "operationId": "AttachInstancesToLoadBalancer",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "operations": {
                                            "description": "An object representing the API operations.",
                                            "items": {
                                                "description": "Describes the API operation.",
                                                "properties": {
                                                    "createdAt": {
                                                        "description": "The timestamp when the operation was initialized (e.g., <code>1479816991.349</code>).",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "errorCode": {
                                                        "description": "The error code.",
                                                        "type": "string"
                                                    },
                                                    "errorDetails": {
                                                        "description": "The error details.",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "description": "The ID of the operation.",
                                                        "pattern": ".*\\S.*",
                                                        "type": "string"
                                                    },
                                                    "isTerminal": {
                                                        "description": "A Boolean value indicating whether the operation is terminal.",
                                                        "type": "boolean"
                                                    },
                                                    "location": {
                                                        "description": "The region and Availability Zone.",
                                                        "properties": {
                                                            "availabilityZone": {
                                                                "description": "The Availability Zone. Follows the format <code>us-east-2a</code> (case-sensitive).",
                                                                "type": "string"
                                                            },
                                                            "regionName": {
                                                                "description": "The AWS Region name.",
                                                                "enum": [
                                                                    "us-east-1",
                                                                    "us-east-2",
                                                                    "us-west-1",
                                                                    "us-west-2",
                                                                    "eu-west-1",
                                                                    "eu-west-2",
                                                                    "eu-west-3",
                                                                    "eu-central-1",
                                                                    "ca-central-1",
                                                                    "ap-south-1",
                                                                    "ap-southeast-1",
                                                                    "ap-southeast-2",
                                                                    "ap-northeast-1",
                                                                    "ap-northeast-2"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "operationDetails": {
                                                        "description": "Details about the operation (e.g., <code>Debian-1GB-Ohio-1</code>).",
                                                        "type": "string"
                                                    },
                                                    "operationType": {
                                                        "description": "The type of operation. ",
                                                        "enum": [
                                                            "DeleteInstance",
                                                            "CreateInstance",
                                                            "StopInstance",
                                                            "StartInstance",
                                                            "RebootInstance",
                                                            "OpenInstancePublicPorts",
                                                            "PutInstancePublicPorts",
                                                            "CloseInstancePublicPorts",
                                                            "AllocateStaticIp",
                                                            "ReleaseStaticIp",
                                                            "AttachStaticIp",
                                                            "DetachStaticIp",
                                                            "UpdateDomainEntry",
                                                            "DeleteDomainEntry",
                                                            "CreateDomain",
                                                            "DeleteDomain",
                                                            "CreateInstanceSnapshot",
                                                            "DeleteInstanceSnapshot",
                                                            "CreateInstancesFromSnapshot",
                                                            "CreateLoadBalancer",
                                                            "DeleteLoadBalancer",
                                                            "AttachInstancesToLoadBalancer",
                                                            "DetachInstancesFromLoadBalancer",
                                                            "UpdateLoadBalancerAttribute",
                                                            "CreateLoadBalancerTlsCertificate",
                                                            "DeleteLoadBalancerTlsCertificate",
                                                            "AttachLoadBalancerTlsCertificate",
                                                            "CreateDisk",
                                                            "DeleteDisk",
                                                            "AttachDisk",
                                                            "DetachDisk",
                                                            "CreateDiskSnapshot",
                                                            "DeleteDiskSnapshot",
                                                            "CreateDiskFromSnapshot",
                                                            "CreateRelationalDatabase",
                                                            "UpdateRelationalDatabase",
                                                            "DeleteRelationalDatabase",
                                                            "CreateRelationalDatabaseFromSnapshot",
                                                            "CreateRelationalDatabaseSnapshot",
                                                            "DeleteRelationalDatabaseSnapshot",
                                                            "UpdateRelationalDatabaseParameters",
                                                            "StartRelationalDatabase",
                                                            "RebootRelationalDatabase",
                                                            "StopRelationalDatabase"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "resourceName": {
                                                        "description": "The resource name.",
                                                        "pattern": "\\w[\\w\\-]*\\w",
                                                        "type": "string"
                                                    },
                                                    "resourceType": {
                                                        "description": "The resource type. ",
                                                        "enum": [
                                                            "Instance",
                                                            "StaticIp",
                                                            "KeyPair",
                                                            "InstanceSnapshot",
                                                            "Domain",
                                                            "PeeredVpc",
                                                            "LoadBalancer",
                                                            "LoadBalancerTlsCertificate",
                                                            "Disk",
                                                            "DiskSnapshot",
                                                            "RelationalDatabase",
                                                            "RelationalDatabaseSnapshot",
                                                            "ExportSnapshotRecord",
                                                            "CloudFormationStackRecord"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "description": "The status of the operation. ",
                                                        "enum": [
                                                            "NotStarted",
                                                            "Started",
                                                            "Failed",
                                                            "Completed",
                                                            "Succeeded"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "statusChangedAt": {
                                                        "description": "The timestamp when the status was changed (e.g., <code>1479816991.349</code>).",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "OperationFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "AccountSetupInProgressException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "UnauthenticatedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "instanceNames": {
                                        "description": "<p>An array of strings representing the instance name(s) you want to attach to your load balancer.</p> <p>An instance must be <code>running</code> before you can attach it to your load balancer.</p> <p>There are no additional limits on the number of instances you can attach to your load balancer, aside from the limit of Lightsail instances you can create in your account (20).</p>",
                                        "items": {
                                            "pattern": "\\w[\\w\\-]*\\w",
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "loadBalancerName": {
                                        "description": "The name of the load balancer.",
                                        "pattern": "\\w[\\w\\-]*\\w",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "loadBalancerName",
                                    "instanceNames"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AttachLoadBalancerTlsCertificate": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Attaches a Transport Layer Security (TLS) certificate to your load balancer. TLS is just an updated, more secure version of Secure Socket Layer (SSL).</p> <p>Once you create and validate your certificate, you can attach it to your load balancer. You can also use this API to rotate the certificates on your account. Use the <code>AttachLoadBalancerTlsCertificate</code> operation with the non-attached certificate, and it will replace the existing one and become the attached certificate.</p> <p>The <code>attach load balancer tls certificate</code> operation supports tag-based access control via resource tags applied to the resource identified by loadBalancerName. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
                "operationId": "AttachLoadBalancerTlsCertificate",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "operations": {
                                            "description": "<p>An object representing the API operations.</p> <p>These SSL/TLS certificates are only usable by Lightsail load balancers. You can't get the certificate and use it for another purpose.</p>",
                                            "items": {
                                                "description": "Describes the API operation.",
                                                "properties": {
                                                    "createdAt": {
                                                        "description": "The timestamp when the operation was initialized (e.g., <code>1479816991.349</code>).",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "errorCode": {
                                                        "description": "The error code.",
                                                        "type": "string"
                                                    },
                                                    "errorDetails": {
                                                        "description": "The error details.",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "description": "The ID of the operation.",
                                                        "pattern": ".*\\S.*",
                                                        "type": "string"
                                                    },
                                                    "isTerminal": {
                                                        "description": "A Boolean value indicating whether the operation is terminal.",
                                                        "type": "boolean"
                                                    },
                                                    "location": {
                                                        "description": "The region and Availability Zone.",
                                                        "properties": {
                                                            "availabilityZone": {
                                                                "description": "The Availability Zone. Follows the format <code>us-east-2a</code> (case-sensitive).",
                                                                "type": "string"
                                                            },
                                                            "regionName": {
                                                                "description": "The AWS Region name.",
                                                                "enum": [
                                                                    "us-east-1",
                                                                    "us-east-2",
                                                                    "us-west-1",
                                                                    "us-west-2",
                                                                    "eu-west-1",
                                                                    "eu-west-2",
                                                                    "eu-west-3",
                                                                    "eu-central-1",
                                                                    "ca-central-1",
                                                                    "ap-south-1",
                                                                    "ap-southeast-1",
                                                                    "ap-southeast-2",
                                                                    "ap-northeast-1",
                                                                    "ap-northeast-2"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "operationDetails": {
                                                        "description": "Details about the operation (e.g., <code>Debian-1GB-Ohio-1</code>).",
                                                        "type": "string"
                                                    },
                                                    "operationType": {
                                                        "description": "The type of operation. ",
                                                        "enum": [
                                                            "DeleteInstance",
                                                            "CreateInstance",
                                                            "StopInstance",
                                                            "StartInstance",
                                                            "RebootInstance",
                                                            "OpenInstancePublicPorts",
                                                            "PutInstancePublicPorts",
                                                            "CloseInstancePublicPorts",
                                                            "AllocateStaticIp",
                                                            "ReleaseStaticIp",
                                                            "AttachStaticIp",
                                                            "DetachStaticIp",
                                                            "UpdateDomainEntry",
                                                            "DeleteDomainEntry",
                                                            "CreateDomain",
                                                            "DeleteDomain",
                                                            "CreateInstanceSnapshot",
                                                            "DeleteInstanceSnapshot",
                                                            "CreateInstancesFromSnapshot",
                                                            "CreateLoadBalancer",
                                                            "DeleteLoadBalancer",
                                                            "AttachInstancesToLoadBalancer",
                                                            "DetachInstancesFromLoadBalancer",
                                                            "UpdateLoadBalancerAttribute",
                                                            "CreateLoadBalancerTlsCertificate",
                                                            "DeleteLoadBalancerTlsCertificate",
                                                            "AttachLoadBalancerTlsCertificate",
                                                            "CreateDisk",
                                                            "DeleteDisk",
                                                            "AttachDisk",
                                                            "DetachDisk",
                                                            "CreateDiskSnapshot",
                                                            "DeleteDiskSnapshot",
                                                            "CreateDiskFromSnapshot",
                                                            "CreateRelationalDatabase",
                                                            "UpdateRelationalDatabase",
                                                            "DeleteRelationalDatabase",
                                                            "CreateRelationalDatabaseFromSnapshot",
                                                            "CreateRelationalDatabaseSnapshot",
                                                            "DeleteRelationalDatabaseSnapshot",
                                                            "UpdateRelationalDatabaseParameters",
                                                            "StartRelationalDatabase",
                                                            "RebootRelationalDatabase",
                                                            "StopRelationalDatabase"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "resourceName": {
                                                        "description": "The resource name.",
                                                        "pattern": "\\w[\\w\\-]*\\w",
                                                        "type": "string"
                                                    },
                                                    "resourceType": {
                                                        "description": "The resource type. ",
                                                        "enum": [
                                                            "Instance",
                                                            "StaticIp",
                                                            "KeyPair",
                                                            "InstanceSnapshot",
                                                            "Domain",
                                                            "PeeredVpc",
                                                            "LoadBalancer",
                                                            "LoadBalancerTlsCertificate",
                                                            "Disk",
                                                            "DiskSnapshot",
                                                            "RelationalDatabase",
                                                            "RelationalDatabaseSnapshot",
                                                            "ExportSnapshotRecord",
                                                            "CloudFormationStackRecord"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "description": "The status of the operation. ",
                                                        "enum": [
                                                            "NotStarted",
                                                            "Started",
                                                            "Failed",
                                                            "Completed",
                                                            "Succeeded"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "statusChangedAt": {
                                                        "description": "The timestamp when the status was changed (e.g., <code>1479816991.349</code>).",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "OperationFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "AccountSetupInProgressException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "UnauthenticatedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "certificateName": {
                                        "description": "The name of your SSL/TLS certificate.",
                                        "pattern": "\\w[\\w\\-]*\\w",
                                        "type": "string"
                                    },
                                    "loadBalancerName": {
                                        "description": "The name of the load balancer to which you want to associate the SSL/TLS certificate.",
                                        "pattern": "\\w[\\w\\-]*\\w",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "loadBalancerName",
                                    "certificateName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AttachStaticIp": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Attaches a static IP address to a specific Amazon Lightsail instance.",
                "operationId": "AttachStaticIp",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "operations": {
                                            "description": "An array of key-value pairs containing information about your API operations.",
                                            "items": {
                                                "description": "Describes the API operation.",
                                                "properties": {
                                                    "createdAt": {
                                                        "description": "The timestamp when the operation was initialized (e.g., <code>1479816991.349</code>).",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "errorCode": {
                                                        "description": "The error code.",
                                                        "type": "string"
                                                    },
                                                    "errorDetails": {
                                                        "description": "The error details.",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "description": "The ID of the operation.",
                                                        "pattern": ".*\\S.*",
                                                        "type": "string"
                                                    },
                                                    "isTerminal": {
                                                        "description": "A Boolean value indicating whether the operation is terminal.",
                                                        "type": "boolean"
                                                    },
                                                    "location": {
                                                        "description": "The region and Availability Zone.",
                                                        "properties": {
                                                            "availabilityZone": {
                                                                "description": "The Availability Zone. Follows the format <code>us-east-2a</code> (case-sensitive).",
                                                                "type": "string"
                                                            },
                                                            "regionName": {
                                                                "description": "The AWS Region name.",
                                                                "enum": [
                                                                    "us-east-1",
                                                                    "us-east-2",
                                                                    "us-west-1",
                                                                    "us-west-2",
                                                                    "eu-west-1",
                                                                    "eu-west-2",
                                                                    "eu-west-3",
                                                                    "eu-central-1",
                                                                    "ca-central-1",
                                                                    "ap-south-1",
                                                                    "ap-southeast-1",
                                                                    "ap-southeast-2",
                                                                    "ap-northeast-1",
                                                                    "ap-northeast-2"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "operationDetails": {
                                                        "description": "Details about the operation (e.g., <code>Debian-1GB-Ohio-1</code>).",
                                                        "type": "string"
                                                    },
                                                    "operationType": {
                                                        "description": "The type of operation. ",
                                                        "enum": [
                                                            "DeleteInstance",
                                                            "CreateInstance",
                                                            "StopInstance",
                                                            "StartInstance",
                                                            "RebootInstance",
                                                            "OpenInstancePublicPorts",
                                                            "PutInstancePublicPorts",
                                                            "CloseInstancePublicPorts",
                                                            "AllocateStaticIp",
                                                            "ReleaseStaticIp",
                                                            "AttachStaticIp",
                                                            "DetachStaticIp",
                                                            "UpdateDomainEntry",
                                                            "DeleteDomainEntry",
                                                            "CreateDomain",
                                                            "DeleteDomain",
                                                            "CreateInstanceSnapshot",
                                                            "DeleteInstanceSnapshot",
                                                            "CreateInstancesFromSnapshot",
                                                            "CreateLoadBalancer",
                                                            "DeleteLoadBalancer",
                                                            "AttachInstancesToLoadBalancer",
                                                            "DetachInstancesFromLoadBalancer",
                                                            "UpdateLoadBalancerAttribute",
                                                            "CreateLoadBalancerTlsCertificate",
                                                            "DeleteLoadBalancerTlsCertificate",
                                                            "AttachLoadBalancerTlsCertificate",
                                                            "CreateDisk",
                                                            "DeleteDisk",
                                                            "AttachDisk",
                                                            "DetachDisk",
                                                            "CreateDiskSnapshot",
                                                            "DeleteDiskSnapshot",
                                                            "CreateDiskFromSnapshot",
                                                            "CreateRelationalDatabase",
                                                            "UpdateRelationalDatabase",
                                                            "DeleteRelationalDatabase",
                                                            "CreateRelationalDatabaseFromSnapshot",
                                                            "CreateRelationalDatabaseSnapshot",
                                                            "DeleteRelationalDatabaseSnapshot",
                                                            "UpdateRelationalDatabaseParameters",
                                                            "StartRelationalDatabase",
                                                            "RebootRelationalDatabase",
                                                            "StopRelationalDatabase"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "resourceName": {
                                                        "description": "The resource name.",
                                                        "pattern": "\\w[\\w\\-]*\\w",
                                                        "type": "string"
                                                    },
                                                    "resourceType": {
                                                        "description": "The resource type. ",
                                                        "enum": [
                                                            "Instance",
                                                            "StaticIp",
                                                            "KeyPair",
                                                            "InstanceSnapshot",
                                                            "Domain",
                                                            "PeeredVpc",
                                                            "LoadBalancer",
                                                            "LoadBalancerTlsCertificate",
                                                            "Disk",
                                                            "DiskSnapshot",
                                                            "RelationalDatabase",
                                                            "RelationalDatabaseSnapshot",
                                                            "ExportSnapshotRecord",
                                                            "CloudFormationStackRecord"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "description": "The status of the operation. ",
                                                        "enum": [
                                                            "NotStarted",
                                                            "Started",
                                                            "Failed",
                                                            "Completed",
                                                            "Succeeded"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "statusChangedAt": {
                                                        "description": "The timestamp when the status was changed (e.g., <code>1479816991.349</code>).",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidInputException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "NotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "OperationFailureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "AccountSetupInProgressException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "UnauthenticatedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "instanceName": {
                                        "description": "The instance name to which you want to attach the static IP address.",
                                        "pattern": "\\w[\\w\\-]*\\w",
                                        "type": "string"
                                    },
                                    "staticIpName": {
                                        "description": "The name of the static IP.",
                                        "pattern": "\\w[\\w\\-]*\\w",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "staticIpName",
                                    "instanceName"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CloseInstancePublicPorts": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
[...]
